@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-Reg.woff2') format('woff2'), url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-Reg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-Italic.woff2') format('woff2'), url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-Med.woff2') format('woff2'), url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-MedIt.woff2') format('woff2'), url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-MedIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-Demi.woff2') format('woff2'), url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-DemiIt.woff2') format('woff2'), url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-DemiIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-Bold.woff2') format('woff2'), url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-BoldIt.woff2') format('woff2'), url('../fonts/avenir-next-rounded/AvenirNextRoundedStd-BoldIt.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}