/* ==========================================================================
*header
========================================================================== */
.h__banner {
    background-color: #e91e63;
    min-height: 41px;
    font-size: 12px;
    color: #fff;
}

.h_banner_close,
.h_banner_close:hover,
.h_banner_close:focus {
    color: #fff !important;
}

.h__top {
    min-height: 41px;
    font-size: 12px;
}

.h__top {
    background-color: #f6f6f8;
    color: #878787;
}

.header-text > .cg,
.h__top .nt_currency {
    color: #878787;
}

.h__top .cr {
    color: #ec0101;
}

.header-text > a:not(.cg) {
    color: #222;
}

.header__mid .css_h_se {
    min-height: 65px;
}

.nt_menu > li > a {
    height: 65px;
}

/* ==========================================================================
*! sections
========================================================================== */
.kalles-default-distance > .container,
.type_collection_list > .container,
.kalles-otp-01__featured-collection-2,
.kalles-otp-01__promotion {
    margin: 0 auto 80px !important;
}

.kalles-section_type_featured_blog {
    background-color: #ffffff;
}

.kalles-section_type_featured_blog > .container {
    margin: 0 auto 85px;
}

.kalles-otp-01__feature {
    margin: 0 auto 90px;
}

.kalles-otp-01__promotion .nt_promotion h3,
.kalles-otp-01__promotion .nt_promotion h4 {
    color: #ffffff
}

.kalles-otp-01__promotion .nt_promotion > a:after {
    background-color: #000000;
    opacity: 0.0
}

.kalles-otp-01__promotion .item__position {
    padding-top: 52.63157894736842%
}

.kalles-section__type_instagram_shop {
    background-color: #ffffff !important;
}

/* ==========================================================================
*! spin
========================================================================== */
.spin-position__01 {
    transform: translate(-39%, -39%);
    top: 39%;
    left: 39%;
}

.spin-position__02 {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
}

.spin-position__03 {
    transform: translate(-67%, -32%);
    top: 32%;
    left: 67%
}

.spin-position__04 {
    transform: translate(-44%, -98%);
    top: 98%;
    left: 44%
}

.spin-position__05 {
    transform: translate(-79%, -28%);
    top: 28%;
    left: 79%
}

.spin-position__06 {
    transform: translate(-48%, -66%);
    top: 66%;
    left: 48%
}

.spin-position__07 {
    transform: translate(-42%, -66%);
    top: 66%;
    left: 42%
}

.spin-position__08 {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
}

.spin-position__09 {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
}

/* ==========================================================================
*! shipping info
========================================================================== */
.kalles-section__type_shipping {
    background-color: #ffffff !important;
}

.kalles-section__type_shipping > .container {
    margin: 50px auto 0;
}

.kalles-section__type_shipping .use_border_true .nt_shipping:after {
    border-color: #dddddd
}

.kalles-section__type_shipping .icon {
    color: #9e9e9e
}

.kalles-section__type_shipping .content {
    color: #878787
}

.kalles-section__type_shipping .content h3 {
    color: #222222
}

/* ==========================================================================
*! footer
========================================================================== */
.footer__top a:hover {
    color: #56cfe1
}

.footer__top .signup-newsletter-form, .footer__top .signup-newsletter-form input.input-text {
    background-color: transparent;
}

.footer__top .signup-newsletter-form input.input-text {
    color: #878787
}

.footer__top .signup-newsletter-form .submit-btn {
    background-color: #222222
}

.footer__top .widget-title {
    color: #222222
}

.footer__top a:not(:hover) {
    color: #878787
}

.footer__top .signup-newsletter-form {
    border-color: #878787
}

.footer__top .nt_bg_overlay:after {
    background-color: #000000;
    opacity: 0.0
}

.footer__top_wrap {
    background-color: #f6f6f8;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    color: #878787
}

.footer__bot_wrap a:hover {
    color: #56cfe1
}

.footer__bot_wrap {
    background-color: #ffffff;
    color: #878787
}

.footer__bot a:not(:hover) {
    color: #878787
}

.header__mid .css_h_se {
    min-height: 70px;
}

.nt_menu > li > a {
    height: 70px;
}

@media only screen and (max-width: 767px) {
    .kalles-default-distance > .container,
    .type_collection_list > .container,
    .kalles-section_type_featured_blog > .container,
    .kalles-otp-01__feature,
    .kalles-otp-01__featured-collection-2,
    .kalles-otp-01__promotion {
        margin: 0 auto 60px !important;
    }
}